{% extends "index.njk" %}

{% block content %}
    <h2 class="mb-4 text-center">Добавление топика</h2>
    <form action="/admin/add_topic" method="post">
        <div class="row">
            <div class="col-12 col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Название">
            </div>
            <div class="col-12 col-md-6 mt-2 mt-md-0">
                <input type="text" name="slug" class="form-control" placeholder="Slug">
            </div>
            <div class="col-6 col-md-6 mt-2">
                <input type="text" class="form-control" name="color1" placeholder="Цвет 1">
            </div>
            <div class="col-6 col-md-6 mt-2">
                <input type="text" class="form-control" name="color2" placeholder="Цвет 2">
            </div>
{#            TODO: Сделать превью#}
            <div class="col-12 text-center mt-3">
                <button class="btn btn-success">Отправить</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        var simplemde = new SimpleMDE({element: document.getElementById("description"), lineWrapping: false});
    </script>
{% endblock %}
