{% extends "index.njk" %}

{% block content %}
    <h2 class="mb-4 text-center">Добавление проекта</h2>
    <form action="/admin/add_project" method="post">
        <div class="row">
            <div class="col-12 col-md-6">
                <input type="text" autocomplete="off" name="name" class="form-control" placeholder="Название проекта">
            </div>
            <div class="col-12 col-md-6 mt-2 mt-md-0">
                <input type="text" autocomplete="off" name="slug" class="form-control" placeholder="Slug">
            </div>
            <div class="col-12 col-md-6 mt-2">
                <textarea type="text" name="shortDescription" class="form-control"
                          placeholder="Короткое описание" rows="1"></textarea>
            </div>
            <div class="col-6 col-md-3 mt-2">
                <input type="number" name="developTime" class="form-control" placeholder="Время на разработку">
            </div>
            <div class="col-6 col-md-3 mt-2">
                <input type="text" autocomplete="off" name="demoLink" class="form-control" placeholder="Ссылка на демо">
            </div>
            <div class="col-6 col-md-3 mt-2">
                <input type="text" autocomplete="off" name="gitHubLink" class="form-control" placeholder="Ссылка на Гитхаб">
            </div>
            <div class="col-6 col-md-3 mt-2">
                <input type="text" autocomplete="off" name="behanceLink" class="form-control" placeholder="Ссылка на Беханс">
            </div>
            <div class="col-6 col-md-3 mt-2">
                <input type="text" autocomplete="off" name="color1" class="form-control" placeholder="Цвет 1">
            </div>
            <div class="col-6 col-md-3 mt-2">
                <input type="text" autocomplete="off" name="color2" class="form-control" placeholder="Цвет 2">
            </div>
            <div class="col-12 mt-2">
                <textarea type="text" name="description" id="description" class="form-control"
                          placeholder="Описание"></textarea>
            </div>
            <div class="col-12 col-md-6">
                <h4>Топики:</h4>
                {% for topic in allTopics %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="topic_{{ topic.slug }}"
                               value="{{ topic._id }}"
                               id="{{ topic.slug }}_checkbox">
                        <label class="form-check-label" for="{{ topic.slug }}_checkbox">
                            {{ topic.name }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="col-12 col-md-6">
                <h4>Технологии</h4>
                <input type="text" autocomplete="off" placeholder="Технологии через запятую" name="techs" class="form-control">
            </div>
            {# TODO: добавить фотки #}
            <div class="col-12 text-center mt-3">
                <button class="btn btn-success">Отправить</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        var simplemde = new SimpleMDE({element: document.getElementById("description"), lineWrapping: false});
    </script>
{% endblock %}
