{% extends "index.njk" %}

{% block content %}
    <h2 class="mb-4 text-center">Топики</h2>
    <div class="d-flex flex-wrap text-center justify-content-center topics-list">
        {% for topic in allTopics %}
            <a style="background: linear-gradient(93.97deg, {{ topic.color[0] }} 6.33%, {{ topic.color[1] }} 94.4%)" class="text-decoration-none d-block topic-in-list mx-2" href="/admin/edit_topic/{{ topic._id.toString() }}">{{ topic.name }}</a>
        {% endfor %}
    </div>
    <div class="text-center mt-3">
        <a class="text-center text-decoration-none" href="/admin/add_topic">
            <button class="btn btn-success d-flex mx-auto">
                <span class="material-icons-outlined my-auto">add</span>
                <span class="my-auto">Добавить топик</span>
            </button>
        </a>
    </div>
{% endblock %}
