.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

.child-view {
  //position: absolute;
  transition: all .75s cubic-bezier(.55, 0, .1, 1);
}

.projects-list-enter, .projects-list-leave-to {
  opacity: 0;
  transform: translateY(10vh);
}

.projects-list-leave-active {
  position: absolute;
}

.projects-list-move {
  transition: transform .8s ease;
}

.timeline-enter, .timeline-leave-to {
  opacity: 0;
  transform: translateY(10vh);
}

.timeline-leave-active {
  position: absolute;
  width: 100%;
}

.timeline-move {
  transition: transform .8s ease;
}
