@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import "src/utils";
@import "src/animations";

:root {
  --background-primary: #151515;
  --background-secondary: #212121;
  --text-color: #FFF;

  --accent-main-red: #8a0000;
  --accent-second-red: #c90000;

  --accent-main-green: #00B61D;
  --accent-second-green: #00FF57;

  --accent-main-blue: #00698A;
  --accent-second-blue: #00BDC9;
}

html[theme="green"] {
  --accent-main: #00B61D;
  --accent-second: #00FF57;
}

html[theme="blue"] {
  --accent-main: #00698A;
  --accent-second: #00BDC9;
}

html[theme="red"] {
  --accent-main: #8a0000;
  --accent-second: #c90000;
}

$background: var(--background-primary);
$textColor: var(--text-color);
$accentMain: var(--accent-main);
$accentSecond: var(--accent-second);
$accentGradient: linear-gradient(90deg, $accentMain 0%, $accentSecond 100%);

html, body {
  margin: 0;
  padding: 0;
  background: #151515;
  color: $textColor;
  font-family: 'Montserrat', sans-serif;
}

//body {
//  padding: 0 calc(20px - (100vw - 100%)) 0 0;
//}

::selection {
  background-color: $accentMain;
}

::-webkit-scrollbar {
  width: 8px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-track {
  background: var(--background-primary);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .5);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-main);
}
