.d-flex {
  display: flex!important;
}

.flex-column {
  flex-direction: column!important;
}

.mt-auto {
  margin-top: auto!important;
}

.mb-auto {
  margin-bottom: auto!important;
}

.ml-auto {
  margin-left: auto!important;
}

.mr-auto {
  margin-right: auto!important;
}

.mx-auto {
  @extend .mr-auto;
  @extend .ml-auto;
}

.my-auto {
  @extend .mt-auto;
  @extend .mb-auto;
}

.p-relative {
  position: relative!important;
}

.p-absolute {
  position: absolute!important;
}

.justify-center {
  justify-content: center!important;
}

.text-center {
  text-align: center!important;
}

.d-block{
  display: block!important;
}

.my-1 {
  margin-top: 3px;
  margin-bottom: 3px;
}
