.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  @extend .mr-auto;
  @extend .ml-auto;
}

.my-auto {
  @extend .mt-auto;
  @extend .mb-auto;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}
